<html>
	<head>
	<title>Index</title>	
	
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/Css/myStyle.css">
	<!-- endinject -->
	<!-- bower:js -->
	<script src="/lib/underscore/underscore.js"></script>
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->
	<!-- inject:js -->
	<script src="/Js/myScript.js"></script>
	<!-- endinject -->	
	</head>
	
	<body>
		<h1>Hello</h1>
		<div id="myDiv">Testing out my own styles!</div>
		
		<h3>Array with duplicates:</h3>
		<div class="arrayVanilla"></div>
		
		<h3>Same array, without the duplicates:</h3>
		<div class="arrayUS"></div>		
	</body>
</html>